<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243166081617-rb4ps68ubgo1iirdbqcr0msti0dfe2ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243166081617-rb4ps68ubgo1iirdbqcr0msti0dfe2ih</string>
	<key>API_KEY</key>
	<string>AIzaSyDFQ6LgTTqRwxu44e47DBwBmm4qIQQK_wc</string>
	<key>GCM_SENDER_ID</key>
	<string>243166081617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.roaa.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-c0445</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-c0445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243166081617:ios:cfe4168c85e0ab84acbe70</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-c0445.firebaseio.com</string>
</dict>
</plist>